<% @decisions.each do |decision| %>
	<%= decision.category %>
	<% end %>


<div class="row">
	<% @decisions.each do |decision| %>
		<% decision.vote_1 + decision.vote_2 %>
<% end %>

	<div class="col-md-3 col-sm-3" id="show">
		<div id="titles">
		 Decisiones más votadas
		</div>
		<hr>
		<% @decisions.more_voted_decisions(5).each do |decision| %>
			<li id="lista"><%= decision.name_1 %> Vs <%= decision.name_2 %> <%= link_to 'Mostrar', user_decision_path(@user,decision)%> </li>
		<% end %>
	</div>
	<div class="col-md-3 col-sm-3" id="show">
		<div id="titles">
			Últimas Decisiones 
		</div>
		
		<hr>

		<% @decisions.limit(2).each do |decision| %>
			<li id="lista"><%= decision.name_1 %> Vs <%= decision.name_2 %> <%= link_to 'Mostrar', user_decision_path(@user,decision)%> </li>
		<% end %>
	</div>
		<div class="col-md-3 col-sm-3" id="show">
		<div id="titles">
			Decisiones Finalizadas
		</div>
		
		<hr>

		<% @decisions.each do |decision| %>
			<% if decision.date < DateTime.now %>
				<li id="lista"><%= decision.name_1 %> Vs <%= decision.name_2 %> <%= link_to 'Mostrar', user_decision_path(@user,decision)%> </li>
			<% end %>
		<% end %>
	</div>
</div>
<!--
<div id="slider">
    <div>HOLA</div>
    <div>que tal</div>
    <div>bien</div>
</div>
-->