    <div  id="efect" >
      <section id="contain">
        <div class="col-md-4 col-sm-4 option1">
           <p class="name1"><%= @randomdecision.name_1 %></p>
           <img  class="decisionimage" src="<%= @randomdecision.image_1_url.to_s %>">
          <p id="vote1">
            <%= @randomdecision.vote_1 %>
            <span id="vote1img">
              <% if @randomdecision.date > DateTime.now %>

                <% user_in_decision = @randomdecision.array_users.find{|id| id ==  current_user.id } %>
                <% if user_in_decision.blank? %> 
                  <%= link_to '', vote_path(@randomdecision),:controller => :decisions, :action => :vote1, class: "glyphicon glyphicon-ok"%>
                <% else %>
                 <span class="glyphicon glyphicon-remove"></span>
                <% end %>
            </span>
              <% else %>
                <%= "" %>
              <% end %>
          </p>
        </div>
         <div class="col-md-4 col-sm-4 option3">
            <div class="category">
              Categoría : <%= @randomdecision.category %>
            </div>
            <div class="date">
              Votación termina : <%= @randomdecision.date %>
            </div>
            <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: <%= @media1 %>% ">
      <span class="sr-only"></span>
    </div>
    <div class="progress-bar progress-bar-info" style="width: <%= @media2 %>% ">
      <span class="sr-only"></span>
    </div>
      </div>
          </div>
     
    <div class="col-md-4 col-sm-4 option2">
        <p class="name2"><%= @randomdecision.name_2 %></p>
          <img  class="decisionimage" src="<%= @randomdecision.image_2_url.to_s %>">
        <p id="vote2">

          <%= @randomdecision.vote_2 %><span id="vote2img">
          <% if @randomdecision.date > DateTime.now %>
          <% if user_in_decision.blank? %>
          <%= link_to '', vote2_path(@randomdecision), :controller => :decisions, :action => :vote2, class: "glyphicon glyphicon-ok"%>
           <% else %>
           <span class="glyphicon glyphicon-remove"></span>

           <% end %>
               <% else %>
                  <%= "" %>
            <% end %>
        </span>
        </p>
    </div>
 
  <div class="col-md-12 col-sm-12">
    

    </div>
    <div class="col-md-12 col-sm-12 description">
            <p>
                <%= @randomdecision.description %>
           </p>
    </div>
  </section>
