    <div  id="efect" >
      <section id="contain">
        <div class="col-md-6 col-sm-6 options">
                <p class="name1"><%= @randomdecision.name_1 %></p>
                <img  class="decisionimage" src="<%= @randomdecision.image_1 %>">
      
                <p id="vote1">

                <%= @randomdecision.vote_1 %><%= link_to image_tag("like.png"), vote_path(@randomdecision),:controller => :decisions, :action => :vote1%>
                </p>
        </div>
        
      
    <div class="col-md-6 col-sm-6 options">
        <p class="name2"><%= @randomdecision.name_2 %></p>
          <img  class="decisionimage" src="<%= @randomdecision.image_2 %>">
        <p id="vote2">
          <%= @randomdecision.vote_2 %><span id="vote2img"><%= link_to image_tag("like.png"), vote2_path(@randomdecision), :controller => :decisions, :action => :vote2%>
        </span>
        </p>

    </div>
         
         <div class="col-md-12 col-sm-12 description">
            <p>
                <%= @randomdecision.description %>
           </p>
          </div>
        
</div>
  </section>
  <div id="destino"> </div>
