<div class="form1">
<%= form_for @decision do |f| %>
 <%= f.label :Nombre_Primera_Opción %>
 <%= f.text_field :name_1 %>
 <br>
   <%= f.label :Imagen_1 %>
 <%= f.text_field :image_1 %>
 <br>
 </div>
 <div class="form1">
  <%= f.label :Nombre_segunda_Opción %>
 <%= f.text_field :name_2 %>

 <br>
  <%= f.label :Imagen_2 %>
 <%= f.text_field :image_2 %>
</div>
<div class="form1">
<br>
 <%= f.label :category %>
 <%= f.select :category,  options_for_select([ "Música", "Libros", "Consolas/Videojuegos", "Informática", "Conciertos", "Cine"], "Música") %>
 <br>
 <%= f.label :description %>
 <%= f.text_field :description %>
 <br>
 <%= f.label :disponible_hasta %>
 <%= f.date_field :date %>

</div>
 <%= f.submit 'Save' %>
 <% end %>
