<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application'%>
  <%= csrf_meta_tags %>

    <meta charset='utf-8'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='style.css' rel='stylesheet'>  
    
</head>

<body class="background">
  <div id='cssmenu'>
    <ul>
        <li><a><%= link_to 'Inicio',  root_path(@decision)%></a></li>
        <% if current_user %>
          <li><a><%= link_to 'Nueva Decisión',  new_user_decision_path(current_user.id, @decision)%></a></li>
        <%else %>
          <li><a><%= link_to 'Nueva Decisión',  'signup' %></a></li>
          <% end %>

        <% if current_user %> 
            <li><a><%= link_to "Log out", logout_path, method: "delete" %></a></li>
            <div class="email"><img id="avatar" src="<%= current_user.avatar_url.to_s %>"><%= link_to(current_user.email, user_path(current_user)) %></div>

        <% else %> 
            <li><a><%= link_to "Login", 'login' %></a></li> 
            <li><a><%= link_to "Registro", 'signup' %></a></li>

        <% end %>  
    </ul>
  </div>
<!--
<ul class="nav nav-pills">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Categorías <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Informática", 'category/informática' %></li>
      <li><%= link_to "Libros", 'category/libros' %></li>
      <li><%= link_to "Música", 'category/musica' %></li>
    </ul>
  </li>
</ul>
-->
<%= yield %>
<%= javascript_include_tag 'application'%>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
