<nav id="navegacion">
  <ul >
  	<a>Logo</a>
    <a><%= link_to 'Nueva Decisión',  new_decision_path(@decision)%></a>
    <a><%= link_to 'Registro', signup_path%></a>
    <a><%= link_to 'login', login_path%></a>
  </ul>
</nav>

<div>
  <div class="col-md-3">
    <div id="barra-lateral"><u> Categorías</u>
        <ul id="lista-lateral">
            <li>Música</li>
            <li>Libros</li>
            <li>Conciertos</li>
            <li>Informática</li>
            <li>Cine</li>


        </ul>


    </div>
  </div>
<% @decisions.each do |decision| %>
<% decision.products.each do |product| %>
<div class="col-md-4 col-sm-4 options">
<%= product.name %>
<p>
<img src="<%= product.image %>">
</p>
<%= product.votes %> <%= link_to '+1', vote_path(product),:controller => :decisions, :action => :vote %>
</div>
</div>

<% end %>
  <div>
    <div class="col-md-10 col-sm-10 description">
    <%= decision.description %></div>
  </div>
<% end %>
