
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="">

        <title></title>
    </head>

    <body>

   <nav id="navegacion">
  <ul>
  	<a>Logo</a>
    <a>logo</a>
    <a><%= link_to 'Registro', signup_path%></a>
    <a><%= link_to 'login', login_path%></a>
  </ul>
</nav>

<div class="row">
  <div class="col-md-3">
    <div id="barra-lateral">Esta es la barra lateral</div>
  </div>
<% @decisions.each do |decision| %>
<div class="col-md-3 col-sm-3">
<% decision.products.each do |product| %>
<%= product.name %>
<p>
<img src="<%= product.image %>">
</p>
<%= product.votes %>

</div>

<% end %>
  <div class="row">
    <div class="col-md-6 col-sm-6">
    <%= decision.description %></div>
  </div>
<% end %>
<%= link_to 'new',  new_decision_path(@decision)%>


    <script type="text/javascript" src=""></script>
    </body>
</html>
