<img class="fondo" src="<%= @user.fondo_url.to_s %>">
<div class="row">
	<div class="col-md-4 col-sm-4 user">
		<img id="userimg" src="<%= @user.avatar_url.to_s %>">
		<p>
		Usuario: <%= @user.first_name %> <%= @user.last_name %> 
		</p>
		<p>
		Email: <%= @user.email %> 
		</p>
	</div>


	<div class="col-md-3 col-sm-3" id="show">
		<div id="titles">
		 Tus decisiones
		</div>
		<hr>
		<% @decisions.each do |decision| %>
			<li id="lista"><%= decision.name_1 %> Vs <%= decision.name_2 %> <%= link_to '', user_decision_path(@user,decision), class: "glyphicon glyphicon-eye-open" %> 
				<%= link_to '', user_decision_path(@user,decision), method: :delete, data: { confirm: 'Vas a eliminar esta decisión' }, class: "glyphicon glyphicon-remove" %></li>

		<% end %>
	</div>

	<div class="col-md-3 col-sm-3" id="show">
		<div id="titles">
			Tus Últimas Decisiones 
		</div>
		
		<hr>

		<% @decisions.last_created_decisions(2).each do |decision| %>
			<li id="lista"><%= decision.name_1 %> Vs <%= decision.name_2 %> <%= link_to '', user_decision_path(@user,decision), class: "glyphicon glyphicon-eye-open"%>
			<%= link_to '', user_decision_path(@user,decision), method: :delete, data: { confirm: 'Vas a eliminar esta decisión' }, class: "glyphicon glyphicon-remove" %></li>
		<% end %>
	</div>
</div>